<!-- Text input-->
<div class="form-group row">
  <label class="col-sm-4 col-md-3 col-lg-2 control-label">First Name:</label>
  <div class="col-sm-8 col-md-8 col-lg-5">
    <!-- <label class="">Praveen</label> -->
    <input type="text" placeholder="First Name" class="form-control">
  </div>
</div>

<!-- Text input-->
<div class="form-group row">
  <label class="col-sm-4 col-md-3 col-lg-2 control-label" for="textinput">Last Name:</label>
  <div class="col-sm-8 col-md-8 col-lg-5">
    <input type="text" placeholder="Last Name" class="form-control">
  </div>
</div>