<div class="form-group row">
  <div class="col-sm-2 control-label">
    <type-selector [contactTypes]="addressTypes"></type-selector>
  </div>
  <div class="col-sm-5">
    <input type="text" class="form-control" [(ngModel)]="street" placeholder="Street Address" (change)="onChange()" maxlength="200">
    <span>Street Address</span>
  </div>
</div>

<!-- Text input-->
<div class="form-group row">
  
  <div class="col-sm-10 ml-auto">

    <div class="row">

      <div class="col-sm-4">
        <input type="text" placeholder="City" class="form-control">
        <span>City</span>
      </div>

      <div class="col-sm-4">
        <input type="text" placeholder="State" class="form-control">
        <span>State</span>
      </div>

      <div class="col-sm-4">
        <input type="text" placeholder="Post Code" class="form-control">
        <span>Postal Code</span>
      </div>

    </div>

  </div>

</div>